---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Get to know me a little bit better at <a href="https://www.linkedin.com/in/campprg/">LinkedIn</a></p>
</footer>